{% extends "base.html" %}
{% block title %}Terms & Conditions - {{ site_brand }}{% endblock %}
{% block meta_description %}{{ site_brand }} Terms & Conditions.{% endblock %}
{% block content %}
    <section class="static-page">
        <div class="container">
            <div class="static-content">
                <h1>Terms &amp; Conditions</h1>

                <ul>
                    <li>The product will be dispatched within 10–15 working days following the order from Plantsindo.com.</li>
                    <li>The tracking ID will be sent via SMS at the time of order dispatch.</li>
                    <li>The product will be delivered within 2–3 working days inside Kerala and 3–5 business days outside Kerala.</li>
                    <li>The collection of products from the agency is the clients' responsibility.</li>
                    <li>If any customer has received damaged or defective plants, the exchange or return request shall be accepted, given that the customer holds an unboxing video as proof that clearly shows the damage or defect.</li>
                    <li>If damage is noticed at the time of collection of the products, please inform Plantsindo.com through email within 5 working days after the date of dispatch to get a replacement without additional cost. Delayed complaints will not be accepted.</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
